# Môi trường ảo Python 
venv/
.venv/
env/

# Các file tạm của Python
__pycache__/
*.py[cod]
*$py.class

# Các file dữ liệu
# data/raw/
# *.csv
# *.xlsx

# File cấu hình ẩn của VS Code, Jupyter
.vscode/
.ipynb_checkpoints/